    .button {
      border: none;
      background: transparent;
      color: white;
      cursor: pointer;
      font-size: 125%;
      width: 37px;
    }
/*    .button:hover {
      transform: scale(1.1);
    }*/
    .button:active {
      background: rgba(255,255,255, 0.2);
      transform: scale(0.95);
    }
    .video-player {
      width: 800px;
      height: 600px;
      box-shadow: 0 0 10px rgba(0,0,0,0.9);
      margin: 0px;
      display: flex;
      flex-direction: column;
    }
    .video-container {
      flex: 1;
    }
    .control-panel {
      background: black;
      height: 43px;
      display: flex;
      align-items: center;
      font-family: 'Roboto', sans-serif;
    }
    .progress-container {
      flex: 1;
      margin: 0 11px;
      height: 5px;
      background: black;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
    }
    .progress-slider {
      position: absolute;
      background: #f8104d;
      height: 5px;
      border-radius: 3px;
      width: 0%;
    }
    .progress-handle {
      position: absolute;
      width: 8px;
      height: 8px;
      background: #f8104d;
      border: 3px solid white;
      border-radius: 50%;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
      box-shadow: 0 0 4px rgba(0,0,0,0.5);
      transition: opacity 0.3s, transform 0.5s;
    }
    .progress-container:hover .progress-handle {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.2);
    }
    .left-controls, .right-controls {
      display: flex;
      align-items: center;
    }
    .time {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin: 5px 0;
    }